
.logo{
    padding:10px;
}
#h1alura{
    
    position:absolute;
    vertical-align: text-bottom;
    margin-left: 40px;

}
#fondo-menu{
    position:absolute;
    z-index: 1;
    height: 90%;
    width: 95%; 
    background:white;
}


#horcafondo-menu{
    position:absolute;
    z-index: 1;
    height: 93%;
    width: 99%; 
    background:white;
}

#boton_reiniciar {
    position:fixed;
    margin-top: 35%;
    margin-left: 0%;
    border-radius: 15px;
    background-color: #D8DFE8;
    color: black;
    font-size:25px;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    border: none;
    box-shadow: 0px 10px 10px -6px black;
    border:2px solid #0A3871;
    z-index: 0;
    
  }

  #boton_reiniciar:hover {
    transition-duration: 0.7s;
    background-color: #0A3871;
    color: white;
    border:2px solid #0A3871
    
}

#boton-start {
    position:fixed;
    margin-top: 10%;
    margin-left: 0%;
    border-radius: 15px;
    background-color: #D8DFE8;
    color: black;
    font-size:25px;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    border: none;
    box-shadow: 0px 10px 10px -6px black;
    border:2px solid #0A3871;
    z-index: 2;
  }

  #boton-start:hover {
    transition-duration: 0.7s;
    background-color: #0A3871;
    color: white;
    border:2px solid #0A3871
    
}

#boton-agregar {
    position:fixed;
    margin-top: 15%;
    margin-left: 0%;
    border-radius: 15px;
    background-color: #D8DFE8;
    color: black;
    font-size:25px;
    cursor: pointer;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    border: none;
    box-shadow: 0px 10px 10px -6px black;
    border:2px solid #0A3871;
    z-index: 2;
}

#boton-agregar:hover {
    transition-duration: 0.7s;
    background-color: #0A3871;
    color: white;
    border:2px solid #0A3871
    
}

#h1ahorcado{
    position:fixed;
    margin-top: 1%;
    margin-left: 0%;
    border-radius: 15px;
    background-color: #D8DFE8;
    color: black;
    font-size:55px;
    cursor:none;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    border: none;
    box-shadow: 0px 10px 10px -6px black;
    z-index: 2;
    
}

#h1jugando{
    position:fixed;
    margin-top: 1%;
    margin-left: 0%;
    border-radius: 15px;
    background-color: #D8DFE8;
    color: black;
    font-size:55px;
    cursor:none;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    border: none;
    box-shadow: 0px 10px 10px -6px black;
    z-index: 0;
    
}

#h1ganaste{
    position:fixed;
    margin-top: 20%;
    margin-left: 23,5%;
    border-radius: 15px;
    background-color: #D8DFE8;
    color: black;
    font-size:55px;
    cursor:none;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    border: none;
    box-shadow: 0px 10px 10px -6px black;
    z-index: -2;
    
}

#h1perdiste{
    position:fixed;
    margin-top: 20%;
    margin-left: 23.5%;
    border-radius: 15px;
    background-color: #D8DFE8;
    color: black;
    font-size:55px;
    cursor:none;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    border: none;
    box-shadow: 0px 10px 10px -6px black;
    z-index: -2;
    
}


.div-aparece-ahorcado{
   z-index: 0;

}

#nuevaPalabra{
text-transform:uppercase;
position:fixed;
margin-top: 20%;
margin-left: 0%;
border-radius: 15px;
background-color: white;
color: black;
font-size:25px;
cursor:text;
padding: 15px 0px;
text-align: center;
display: inline-block;
border:2px solid #0A3871;
box-shadow: 0px 10px 10px -6px black;
z-index: 2;
}

#nuevaPalabra:hover {
    transition-duration: 0.7s;
    background-color: white;
    color: black;
    border:2px solid #0A3871
    
}
#footer{
    height: auto;
    width: auto; 
    margin-top: -3%;
    position:relative;
    display: block;
    background-color: #5881b3;
    color:white;
    z-index: 2;
}

#autor{
    color:white;
    z-index: 2;
    border:none;
    text-align: center;
    font: tahoma;
    font-size:15px;
    box-shadow: 0px 15px 15px -2px black;
}
#ref{
    color:white;
    font: tahoma;
    
    z-index: 2;
    border:none;
    text-align: center;
}